@charset "UTF-8";

@font-face {
  font-family: "17d";
  src:url("fonts/17d.eot");
  src:url("fonts/17d.eot?#iefix") format("embedded-opentype"),
    url("fonts/17d.woff") format("woff"),
    url("fonts/17d.ttf") format("truetype"),
    url("fonts/17d.svg#17d") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "17d" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "17d" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-plus:before {
  content: "\61";
}
.icon-fa-minus:before {
  content: "\62";
}
